body {
    background-color: #ffffff;
}

.header {
    font-family: Futura, sans-serif;
    padding: 10px;
    text-align: center;
    color: #904b36;
    font-size: 80px;
    text-shadow: 2px 2px #fff011;
  }
  
  h2 {
    font-size: 25px;
    padding: 10px;
    text-align: center;
    font-family: Futura, sans-serif;
  }


  .list {
    background-color: blanchedalmond;
    padding: 60px;
    text-align: center;
    font-size: 22px;
    border-style: groove;
  }