body {
    background-color: #ffffff;
}

.header {
    font-family: Futura, sans-serif;
    padding: 10px;
    text-align: center;
    color: #904b36;
    font-size: 80px;
    text-shadow: 2px 2px #fff011;
  }
  
  h2 {
    color: #D3A79B;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    font-family: Futura, sans-serif;
  }

  .buttons {
    background-color: #D3A79B;
    border: none;
    color: #904b36;
    font-size: 25px;
    border-radius: 20%;
  }

  .button-container {
    text-align: center; 
  }

  .cinnamon {
    padding: 10px;
  }

  .coffee {
    padding: 10px;
  }

  .muffins {
    padding: 10px;
  }

 
   