body {
    background-color: #ffffff;
}

.header {
    font-family: Futura, sans-serif;
    padding: 5px;
    text-align: center;
    color: #904b36;
    font-size: 80px;
    text-shadow: 2px 2px #fff011;
  }
  
  hr.rounded {
    border-top: 10px;
    border-radius: 5px;
    color: #904b;
    padding: 10px;
  }

  h2 {
    color: #b79987;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    font-family: Futura, sans-serif;
  }

  .buttons {
    background-color: #D3A79B;
    border: none;
    color: #904b36;
    font-size: 25px;
    border-radius: 12px;
    text-decoration: none;
    margin: 30px;
  }

  .button-container {
    text-align: center; 
  }

  .cinnamon {
    padding: 20px;
    text-decoration: none;
    font-family: Futura, sans-serif;
  }

  .coffee {
    padding: 20px;
    font-family: Futura, sans-serif;
  }

  .muffins {
    padding: 20px;
    font-family: Futura, sans-serif;
  }

 
   